{% load staticfiles %}


<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Projeto Notify</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    

</head>

<body>

    <header>
        <div class="texto">
            <h1>
            Notify
            </h1>

            <p>A great new free PSD theme to showcase</p>
            <p>your new application 
            </p>
            <div id="icon-3">
           <div class="icon-android">
                <a href=""> <img src="icone-android.png" alt=""> </a>
            </div>
           <div class="icon-ios">
                <a href=""> <img src="icone-ios.png" alt=""> </a>
            </div>
           <div class="icon-windows">
                <a href=""> <img src="icone-windows.png" alt=""> </a>
            </div>

        </div>
        </div>

        <div class="imagem">
            <img src="hand.png" alt="">
        </div>

    </header>
    <nav>
        <div class="icon-box">
            <div class="icon">
                <img src="icone1.png" alt="">
            </div>
            <div class="text">
               <h3>Editable Theme </h3>
               <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
            </div>
        </div>

        <div class="icon-box">
            <div class="icon">
                <img src="icone2.png" alt="">
            </div>
            <div class="text">
               <h3>Flat Design </h3>
               <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit </span>
            </div>


        </div>

        <div class="icon-box">
            <div class="icon">
                <img src="icone3.png" alt="">
            </div>
            <div class="text">
               <h3>reach your audience </h3>
               <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
            </div>
        </div>




    </nav>
    <section></section>
    <aside></aside>
    <main></main>
    <footer></footer>

</body>

</html> 